body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  background-color: #151c23;
  color: whitel
}

.modal-content {
  background-color: #151c23;
}

.swal2-container.swal2-top-end>.swal2-popup,
.swal2-container.swal2-top-right>.swal2-popup {
  background: #1f2830;
}

#swal2-title {
  color: white;
}

h1,
h2,
h5 {
  color: #dad7d7;
}

.card-body {
  background: #272e35;
}

div {
  color: white;
}

.swal2-popup {
  background-color: #151c23;
  color: white;
}

label,
i {
  color: #8090a1;
}

.form-control,
.form-control:focus {
  background: #242b32;
  color: whitesmoke;
}

p {
  color: #d4dadf;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

html {
  --scrollbarBG: transparent;
  --thumbBG: #28b485;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  height: auto !important;
}

.infinite-scroll-component {
  width: auto !important;
  height: auto !important;
  overflow: hidden !important;
}

.sweetBtnStyle {
  height: 3.3rem;
  font-size: 21px !important;
  width: 9rem;
  background: red;
}